# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignore all files/folders that are not EventHorzion files or our meta info
# Blacklist everything
*

# Whitelist
!.gitattributes
!.gitignore
!.travis.yml
!brusalk_public_key.gpg.pub
!brusalk_private_key.gpg.pub.enc
!build.rb
!CHANGELOG.md
!Gemfile
!Gemfile.lock
!LICENSE
!README.md
!set_env.rb

!EventHorizon*/
!EventHorizon*/**
!travis/
!travis/**

# We NEVER want to commit a myconfig file ever, lest we overwrite user settings (WHICH IS VERY, VERY, VERY BAD)
EventHorizon*/myconfig.lua
